<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{url_for('static', filename='editCardPage.css')}}">
		<title>Sistema >> Inizio >> Modifica Carta</title>
	</head>

	<body style="background-color: #c6c2cf;">
		<div>
			<form method="POST">
				<p align="center">Modifica una Tessera Esistente</p>
                
                <h4>Nome: </h4><br><input name="new_name">
                <br><h4>Cognome: </h4><br></h4><input name="new_surname">
                <br><h4>Abbonamento: </h4><br><input name="new_plan">
                <br><h4>Prepagato Virtuale: </h4><br><input name="new_charghed">
                <br><br><br><br>
                <h4>Numero Tessera: </h4><br><input name="cardToEdit">
				<br><input type="submit">
				
			</form>

            <br><button class="editCardButtonRed" name="editCardButton" onclick="window.location.replace('/')"> Cerca una Tessera </button>
		</div>

		
	</body>
</html>